/* Colors 
Methodology, section 1 (header, background): #2a4359
Methodology, section 1 (header, boxes): #6da6a6
Methodology, section 2 (methodology, background): #466fa6
Methodology, section 2 (methodology, boxes): #8badd9
*/

/* Utilities */
p {
  margin: 10px 0;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
ol {
  font-size: 18px;
}
/* Section header */
.section_header_methodology {
  background-color: #2a4359;
}
.header {
  display: flex;
  align-items: start;
  background: #2a4359;
}
.header .box {
  flex: 1;
  background: #2a4359;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header .box:nth-of-type(1) {
  flex-grow: 2;
}
.header .box:nth-of-type(2) {
  flex-grow: 1;
}
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_header a:hover {
  color: #2a4359;
}
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #2a4359;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Section methodology */
.section_body_methodology {
  background-color: #466fa6;
  padding: 20px; /* Add padding to create space around the content */
}

/* Separate Box for Each Category */
.methodology .row {
  display: flex;
  justify-content: space-between; /* Arrange boxes horizontally with space between */
  margin-bottom: 20px; /* Add margin between rows */
}

/* Separate Box for Each Category */
.methodology .row .box {
  flex: 1;
  background: #8badd9;
  color: black;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  margin: 0 10px; /* Adjust margin to increase space between boxes */
}

/* Additional margin between the two boxes with general formulas */
.methodology .row .box:nth-child(2) {
  margin-right: 20px; /* Add margin to the right side of the box */
}

/* Style for Ferry and Motorcycle boxes */
.methodology .box_table1 {
  flex: 1; /* Equal width for all boxes */
  background: #8badd9;
  color: black;
  border-radius: 10px;
  margin: 10px; /* Adjust margin */
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Table with one column */
.methodology .box_table1 {
  background: #8badd9;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .methodology {
    flex-direction: column;
  }
}
